.results {
    background-color: rgba(255, 255, 255, 0.906);
    border-radius: 0.25rem;
    padding: 1rem;
    width: 35rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.result_header {
    font-size: 3rem;
    font-family: cursive;
}
span {
    font-size: 2rem;
    color: rgba(30, 199, 61, 0.833);
    font-family: cursive;

}

.tryagain {
    margin-top: 2rem;
    width: 10rem;
    height: 3rem;
    outline: 1px solid rgba(52, 52, 170, 0.51);
    border-radius: 0.25rem;
    border: none;
    cursor: pointer;
    font-weight: 200;
    font-size: 2rem;
    font-family: cursive;

}